# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

c/.tup/
c/build-debug/
c/build-rpi/
lkm/.ledstrip.ko.cmd
lkm/.ledstrip.mod.o.cmd
lkm/.ledstrip.o.cmd
lkm/.tmp_versions/
lkm/Module.symvers
lkm/ledstrip.ko
lkm/ledstrip.mod.c
lkm/modules.order

